body{
    margin: 0;
}
.form{
    display: flex;
  flex-direction: column;
  width: 30%;
  position: relative;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  gap: 20px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.google-btn{
    width: 100%;
}
span{
    font-size: 14px;
}
.github-btn{
    background: black;
    color: white;
    width: fit-content;
    padding: 11.5px 9px;
    border: none;
}
.github-btn i{
    margin-right: 12px;
}
